#myInput {
    background-image: url('/css/searchicon.png'); 
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    width: 90%; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid black; 
    margin-bottom: 12px; 
    background-color: rgba(0,0,0,.1);
}#set2{
 list-style-type: none;
    padding: 0;
    margin: 0;
}
#set3{
	border: .5px solid black;
	padding: 12px;
}
.second{
	margin-bottom: 30px;
}
.table1{
    border: 2px solid black;
    background-color: rgba(0,255,0,.2);

    height: 400px;
    width: 1200px;
    display: none;
}

.content {
    position: relative;
}
.current-song-wrapper {
    position: absolute;
    bottom: 0;
   /* display: flex; */
}

.current-song-image {
    height: 100px;
    width: 100px;
    margin-right: 1rem;
}



/*.welcome-screen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}*/
#name-input{
    border: 1px solid black;
    padding: 9px;
    width: 15%;
}
#hidden1{
    display: none;
}
html,
body {
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    font-size: 16px;
}
h1 {
    border: 0;
    margin: 0;
}
.wrapper {
    height: 100%;
    width: 100%;
    background-color: #BBB;
}
.welcome-screen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}
.main header {
    height: 80px;
    background-color: #282828;
    padding: 1rem;
    color: #FFF;
}
.main .content {
    flex:1;
    background-color: #1f1f1f;

}

.main footer {
    height: 80px;
    background-color: #282828;
    padding-top: .5rem;
}

.controls {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.hidden {
    display: none;
}

.right.floated {
    float: right;
}

.clickable {
    cursor: pointer;
}

.error {
    border: 2px solid red;
}

.play-icon {
    // color: teal;
}
#stb{
    padding: 10px;
    margin: 15px;
}